<div id="content-header">
  <img src="/images/HR/show_hr.png" alt="" />
  <h1><%= t("employee.title") %></h1>
  <h3><%= t("employee.departmentWisePayslip") %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">

  <% form_remote_for :payslip,
    :url => { :action => 'update_employee_payslip'} do |f| %>
    <div id="box">
       <div class="label-field-pair">
   <label for="student_course"><%= t("selectDepartment") %>:</label>
      <div class="text-input-bg"> <%= f.select :department_id, @departments.map { |c| [c.name, c.id] },
          {:prompt => t('selectDepartment')}
      %>
      </div></div>
      <div class="label-field-pair">
   <label for="student_course"><%= t('selectMonth')+ ":" %></label>
      <div class="text-input-bg">
        <%= f.select :salary_date, @salary_dates.map {|c| [c.salary_date.strftime("%B %Y"),c.salary_date.strftime("%Y-%m-%d")]},
          {:prompt => t('selectMonth')} %>
      </div></div>
    <%= submit_tag "► " + t('view'),:class=>'submit_button' %>
    </div>
  


  <% end %>
  <div id="payslip"> </div>


</div>
