<div id="content-header">
  <img src="/images/HR/show_hr.png" alt=""/>

  <h1><%= t('employee.management') %></h1>

  <h3><%= t("manage") %> <%= t('employee.all') %> </h3>

  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png", :border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div id="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to t('employee.admission'), :controller=>"employee", :action=>"admission1" %></div>
      <div class="link-descr"><%= t('employee.admissionForm') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t('employee.subjectAssociation'), :controller=>"employee", :action=>"subject_assignment" %></div>
      <div class="link-descr"><%= t('employee.descSubjectAssociation') %></div>
    </div>
  </div>

</div>