<div id="content-header">
  <img src="/images/HR/show_hr.png" alt=""/>

  <h1><%= t("settings") %></h1>

  <h3><%= t('hrSettings') %></h3>

  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png", :border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div id="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to t("add")+" "+t("employee.category"), :controller=>"employee", :action=>"add_category" %></div>
      <div class="link-descr"><%= t('addAndEdit') + " " + t("employee.category") %>.</div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t("add")+" "+t('employeePosition'), :controller=>"employee", :action=>"add_position" %></div>
      <div class="link-descr"><%= t('addAndEdit') + " " +t('employeePosition') %>.</div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t("add")+" "+t('employee.department'), :controller=>"employee", :action=>"add_department" %></div>
      <div class="link-descr"><%= t('addAndEdit') + " " + t('employee.department') %>.</div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t("add")+" "+t('employee.grade'), :controller=>"employee", :action=>"add_grade" %></div>
      <div class="link-descr"><%= t('addAndEdit') + " " + t('employee.grade') %>.</div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t("add")+" "+"payroll category", :controller=>"payroll", :action=>"add_category" %></div>
      <div class="link-descr"><%= t('addAndEdit') + " " + "employee payroll category" %>.</div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t("add")+" "+"bank details", :controller=>"employee", :action=>"add_bank_details" %></div>
      <div class="link-descr"><%= t('addAndEdit') + " " + "bank details" %>.</div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t("add")+" "+"additional details", :controller=>"employee", :action=>"add_additional_details" %></div>
      <div class="link-descr"><%= t('addAndEdit') + " " + "additional details for employee admission forms" %>.</div>
    </div>

    <!-- <div class="link-box">
      <div class="link-heading">< link_to "Payslip Settings", :controller=>"employee", :action=>"" %></div>
      <div class="link-descr">Creates payslip approve power for finance manager.</div>
    </div>
  </div> -->
    <div class="extender"></div>
  </div>
</div>
