<div id="content-header">
  <img src="/images/show_news/show_news_logo.png" alt=""/>

  <h1>SMS</h1>

  <h3><%= t('home') %></h3>

  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png", :border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to t('smsSettings'), :action=>'settings' %></div>
      <div class="link-descr"><%= t('smsSettingsPage') %></div>
    </div>
    <% if @sms_setting.application_sms_active %>
        <div class="link-box">
          <div class="link-heading"><%= link_to 'SMS ' + t("toStudents"), :action=>'students' %></div>
          <div class="link-descr"><%= t('sendSMS') %> <%= t('toStudents') %></div>
        </div>
        <div class="link-box">
          <div class="link-heading"><%= link_to 'SMS '+t('toBatches'), :action=>'batches' %></div>
          <div class="link-descr"><%= t('sendSMS') %> <%= t('toBatches') %></div>
        </div>
        <div class="link-box">
          <div class="link-heading"><%= link_to 'SMS '+t('toEmployees'), :action=>'employees' %></div>
          <div class="link-descr"><%= t('sendSMS') %> <%= t('toEmployees') %></div>
        </div>
        <div class="link-box">
          <div class="link-heading"><%= link_to 'SMS '+t('toEmployeeDepartments'), :action=>'departments' %></div>
          <div class="link-descr"><%= t('sendSMS') %> <%= t('toEmployeeDepartments') %></div>
        </div>
        <div class="link-box">
          <div class="link-heading"><%= link_to_remote 'SMS '+t('toAll'), :url=>{:action=>'all'} %></div>
          <div class="link-descr"><%= t('sendSMS') %> <%= t('toAll') %></div>
        </div>

    <% end %>
    <div id="sms-box">

    </div>
    <%= image_tag("loader2.gif",
                  :align => "absmiddle",
                  :border => 0,
                  :id => "loader",
                  :style =>"display: none;") %>


  </div>
</div>