<label class="head_label"><%= t('attendance.editFor') %> <span><%= @student.first_name %></span></label>

<div id="ajax-edit">
  <br/>
  <% form_remote_for @absentee do |f| %>
      <div class="label-field-pair">
        <label for="reason"> <%= t('attendance.reasonForAbsence') %></label>

        <div class="text-input-bg"><%= f.text_field :reason %></div>
      </div>
      <% if @config.config_value == 'Daily' %>
          <div class="label-checkbox-pair">
            <label><%= f.check_box :forenoon %><%= t('forenoon') %></label>
          </div>
          <div class="label-checkbox-pair">
            <label><%= f.check_box :afternoon %><%= t('afternoon') %></label>
          </div>
      <% end %>
      <div class="extender"></div>
      <%= f.submit '► ' + t("update"), :class => 'submit-button' %>
  <% end %>
  <div id="delete-button"><%= link_to_remote(" ► " + t('delete'),
                                             :url => attendance_path(@absentee),
                                             :method =>'delete',
                                             :confirm => t('areYouSure')) %></div>
  <div id="form-errors"></div>
</div>
