<% form_for :transaction, :url => {:id => @transaction.id} do |form| %>
    <p><%= t('title') %> <%= form.text_field :title %> </p>
    <p><%= t('description') %> <%= form.text_field :description %> </p>
    <p><%= t('amount') %> <%= form.text_field :amount %> </p>
    <p><%= t("category") %> <%= select :transaction, :category_id,
                           @categories.map { |c| [c.name, c.id] },
                           :selected => @transaction.category_id
    %> </p>
    <p><%= form.submit %></p>
<% end %>
