<div id="content-header">
  <img src="/images/show_finance.png" alt=""/>

  <h1><%= t('finance.createExpense') %></h1>

  <h3><%= t('finance.createNewExpense') %></h3>

  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png", :border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %>
      <p class="flash-msg"><%= flash[:notice] %>  </p>
  <% end %>
  <div class="box">
    <%= error_messages_for :expense %>
    <%= render :partial => "transaction_create_form" %>
  </div>
</div>