<div id="content-header">
  <img src="/images/show_finance.png" alt=""/>

  <h1><%= t("fees") %></h1>

  <h3><%= t("finance.manageFees") %></h3>

  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png", :border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
      <p class="flash-msg"><%= flash[:notice] %></p>
  <% end %>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to t('feesCreate'), :action => "fees_create" %></div>
      <div class="link-descr"><%= t('descFeesCreate') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t('feeColection'), :action => "fee_collection" %></div>
      <div class="link-descr"><%= t("descCreateFeeCollection") %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t("fees"), :controller => "finance", :action => "fees_submission_index" %> </div>
      <div class="link-descr"><%= t('feeSubmission') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t('feeStructure'), :action => "fees_student_structure_search" %> </div>
      <div class="link-descr"><%= t('displayFeesStructure') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t('feesDefaulters'), :action => "fees_defaulters" %></div>
      <div class="link-descr"><%= t('studentsWithFeeDues') %></div>
    </div>
  </div>
</div>