<div id="content-header">
  <img src="/images/show_finance.png" alt=""/>

  <h1><%= t('finance.title') %></h1>

  <h3>Manage Finance</h3>

  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png", :border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
      <p class="flash-msg"><%= flash[:notice] %></p>
  <% end %>

  <div class="box">

    <div class="link-box">
      <div class="link-heading"><%= link_to t("fees"), :action => "fees_index" %> </div>
      <div class="link-descr"><%= t("finance.manageFees") %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t("category"), :action => "categories" %> </div>
      <div class="link-descr">Manages Category</div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t("transactions"), :action => "transactions" %> </div>
      <div class="link-descr">Creates expense and income</div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t("donations"), :action => "donation" %></div>
      <div class="link-descr">Creates new <%= t("donations") %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "Auto transactions", :action => "automatic_transactions" %></div>
      <div class="link-descr">Add automatic transactions</div>
    </div>
    <% unless @hr.nil? %>
        <div class="link-box">
          <div class="link-heading"><%= link_to t("payslip"), :action => "payslip_index" %></div>
          <div class="link-descr"><%= t('employee.payslip') %></div>
        </div>
    <% end %>

    <div class="link-box">
      <div class="link-heading"><%= link_to t('finance.assetLiability'), :action => "asset_liability" %></div>
      <div class="link-descr"><%= t('finance.assetLiability') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to " Export", :controller => 'xml', :action => "index" %></div>
      <div class="link-descr"> Creates xml import file</div>
    </div>

  </div>
</div>