<div id="content-header">
  <img src="/images/show_finance.png" alt=""/>

  <h1><%= t("masterCategory") %></h1>

  <h3><%= t('finance.management') %></h3>

  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png", :border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">

  <div id="message"></div>

  <div class="box">
    <div class="link-box">
      <div class="link-heading">
        <%= link_to_remote t("create")+' '+t("category"), :url => {:action => 'master_category_new'} %>
      </div>
      <div class="link-descr"> <%= t("createsMasterCategoryFee") %></div>
    </div>

    <div class="link-box">
      <div class="link-heading">
        <%= link_to_remote t("create")+' '+t('particulars'), :url => {:action => 'fees_particulars_new'} %>
      </div>
      <div class="link-descr"> <%= t("create")+' '+t('particulars') %></div>
    </div>

    <div id="modal-box" style="display:none;"></div>
    <%= @a %>

    <div id="categories"><%= render :partial => "master_category_list" %></div>
  </div>
</div>