<div id="content-header">
  <img src="/images/show_finance.png" alt=""/>

  <h1><%= t('payslip') %></h1>

  <h3><%= t('employee.payslip') %></h3>

  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png", :border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to t("view")+" "+ t("payslip"), :action => "view_monthly_payslip" %></div>
      <div class="link-descr"><%= t('employee.viewMonthlyPayslip') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t('employee.oneClickApprove'), :action => "approve_monthly_payslip" %></div>
      <div class="link-descr"><%= t('employee.approveMonthlyPayslip') %></div>
    </div>

  </div>
</div>