<div id="content-header">
  <img src="/images/show_finance.png" alt=""/>

  <h1><%= t('finance.feeCollectionDate') %></h1>

  <h3><%= t('finance.viewFeeCollectionDates') %></h3>

  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png", :border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <div class="box">
    <br/>

    <div class="name"><%= t('finance.feeCollName') %></div>
    <div class="val"><span>:</span><%= @fee_collection.name %></div>
    <div class="name"><%= t('finance.feeCategoryName') %></div>
    <div class="val"><span>:</span><%= @fee_category.name %></div>
    <div class="name"><%= t('startDate') %></div>
    <div class="val"><span>:</span><%= @fee_collection.start_date %></div>
    <div class="name"><%= t('endDate') %></div>
    <div class="val"><span>:</span><%= @fee_collection.end_date %></div>
    <div class="name"><%= t('dueDate') %></div>
    <div class="val"><span>:</span><%= @fee_collection.due_date %></div>
    <br/><br/>
    <% total_fees =0 %>
    <div id="fees-table">
      <div class="fees-th">
        <div class="fees-table-particulars"><%= t('finance.particulars') %></div>
        <div class="fees-table-amount"><%= t('amount') %></div>
      </div>
      <% unless @fee_particulars.nil? %>
          <% @fee_particulars.each do |fee| %>
              <div class="fees-tr">
                <div class="fees-table-particulars"><%= fee.name %></div>
                <div class="fees-table-amount"><%= fee.amount %></div>
                <% total_fees += fee.amount %>
              </div>
          <% end %>
      <% end %>

      <div class="fees-tr">
        <div class="fees-table-particulars"><b><%= t('finance.totalFees') %></b></div>
        <div class="fees-table-amount"><b><%= total_fees %></b></div>
      </div>
    </div>
  </div>
</div>