<div id="content-header">
  <img src="/images/show_finance.png" alt=""/>

  <h1><%= t('finance.transactions') %></h1>

  <h3><%= t('expensesAndIncome') %></h3>

  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png", :border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %>
      <p class="flash-msg"><%= flash[:notice] %></p>
  <% end %>

  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to t('add')+" "+t('expense'), :action => "expense_create" %></div>
      <div class="link-descr"><%= t('descAddExpenses') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to t('add')+" "+t("income"), :action => "income_create" %></div>
      <div class="link-descr"><%= t("creates")+' '+t('newIncome') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to t("report"), :action => "monthly_report" %></div>
      <div class="link-descr"><%= t('showTransaction') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to t('compareTransaction'), :action => "compare_report" %></div>
      <div class="link-descr"><%= t('compareTransactions') %></div>
    </div>

  </div>
</div>